@using ASP_NET_Core.Models

<h2>Home</h2>

@(
Html.DevExtreme().TreeList()
    .ID("employees")
    .DataSource(new JS("employees"))
    .RootValue(-1)
    .KeyExpr("ID")
    .ParentIdExpr("Head_ID")
    .Columns(columns =>
    {
        columns.Add()
            .DataField("Title")
            .Caption("Position");

        columns.Add().DataField("Full_Name");

        columns.Add().DataField("City");

        columns.Add().DataField("State");

        columns.Add().DataField("Mobile_Phone");

        columns.Add()
            .DataField("Hire_Date")
            .DataType(GridColumnDataType.Date);
    })
    .ShowRowLines(true)
    .ShowBorders(true)
    .ColumnAutoWidth(true)
    .ExpandedRowKeys(new[] { 1 })
    .Toolbar(toolbar =>
    {
        toolbar.Items(items =>
        {
            items.Add().Name("exportToXlsx")
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Widget(w => w.Button()
                    .Icon("xlsxfile")
                    .OnClick("exportToExcel")
                );
        });
    })
)

<script>
    function exportToExcel() {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Employees');
        const component = $('#employees').dxTreeList('instance');

        exportTreeList({
            component, 
            worksheet
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Employees.xlsx');
            });
        })
    }
</script>